
header{
    height: 9rem;
    z-index: 9999999999999999999;
}
html{font-size: 16px;}
html, body {
	width: 100%;
    height: 100%;
}
body{
    --main: #6dc8b7;
    --bg: #2c2d33;
    background-color: #222533!important;
    overflow-x: hidden;
    font-family: 'Montserrat',sans-serif!important;
}
a {color: white!important;}
a:hover {
    text-decoration: none!important;
    opacity:1;
}
hr.so3{transform: translateY(59.5rem);}
hr {
    border-top: 1px solid #ffffff3d!important;
    transform: translateY(55.25rem);
}
hr.so4 {transform: translateY(63.375rem);}

/* navigation */
header .navigation{
    background: #1A1C27;
    height: 6rem;
    box-shadow: 0 0 0.25rem 0;
}
header .navigation .container .row{line-height: 6rem;}
header .navigation .container .row .logo img{
    height: 2.6875rem;
    width: 10rem;
    margin-top: 0.625rem;
}
header .navigation .container .row .menu a{
    font-size: 1rem;
    margin-left: 0.875rem;
    font-weight: 600;
    transition: 0.4s;
}
header .navigation .container .row .menu a:hover {color: var(--main)!important;}
header .navigation .container .row .search{height: 2.75rem;}
header .navigation .container .row .search i{
    color: white;
    font-size: 1rem;
    transform: rotateY(180deg);
}
input.form-control {
    height: 100%;
    border: none;
    box-shadow: 0 0 0 0!important;
    border-bottom: 0.125rem solid var(--main);
    border-radius: 0;
    font-size: 1rem;
    color: #ffffff!important;
    opacity: 1;
    margin-top: -4.25rem;
    margin-left: -0.125rem;
    font-weight: 600;
    background: none;
    padding-left: 2rem!important;
}
input.form-control:focus {
    background: none;
    border-bottom: 2px solid #6dc8b7;
}
header .navigation .container .row .profile{margin-right: -12rem;}
header .navigation .container .row .profile .ava{
    width: 2.125rem;
    height: 2.125rem;
    float: left;
}
header .navigation .container .row .profile .ava img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    margin-left: -0.25rem;
}